@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Nanum+Gothic&family=Noto+Sans+KR&display=swap');

/* TodoContainer */
.TodoContainer {
    width: 300px;
    height: 360px;
    position: relative;
    background: #FFF4BB;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 32px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Nanum Gothic';
}

.TodoAdd .todo_create_form form{
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top: 1px solid #ffffff;
}

.TodoAdd .todo_create_form form > input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    width: 100%;
    outline: none;
    font-size: 15px;
    box-sizing: border-box;
}

.TodoContainer .todo_create_btn .openToggle{
    /* background: #38d9a9; */
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: block;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 50%);
    color: rgb(255, 191, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.125s all ease-in;
}

/* TodoList */
.TodoList {
    flex: 1;
    padding: 20px 32px;
    padding-bottom: 48px;
    overflow-y: auto;
}

/* TodoItem */
.TodoItem {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.TodoItem .todo_done {
    flex: 1;
    font-size: 18px;
    color: #7a7a7a;
    text-decoration:line-through;
    font-family: 'Nanum Gothic';
}
.TodoItem .todo_notyet {
    flex: 1;
    font-size: 18px;
    color: #000000;
    font-family: 'Nanum Gothic';
}

.TodoItem .todo_btn_done {
    width: 20px;
    height: 20px;
    border-radius: 16px;
    background-color: white;
    color: #ff0000;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
}
.TodoItem .todo_btn_notyet {
    width: 20px;
    height: 20px;
    border-radius: 16px;
    background-color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
}

.TodoItem .remove_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    cursor: pointer;
    font-size: 20px;
}
.TodoItem .remove_btn :hover {
    color: #ff0000;
}