@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: none;
  list-style: none;
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
}

:root {
  --mint: #cfffe5;
  --pink: #ff9887;
  --gray: #717171;
  --box-shadow: 2px 2px 10px silver;
}
